django
gunicorn
django-heroku
anaconda-client
anaconda-navigator
anaconda-project
appdirs
appscript
conda
conda-build
conda-package-handling
conda-verify
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
graphviz
html5lib
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
matplotlib
numpy
numpydoc
pandas
pandoc
pandocfilters
path.py
pathlib2
plotly
pluggy
ply
psycopg2
ptyprocess
py
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pyee
pyflakes

