django
gunicorn
django-heroku
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
graphviz
matplotlib
numpy
numpydoc
pandas
plotly
pluggy
ply
psycopg2
ptyprocess
py
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pyee
pyflakes
scikit-learn
xgboost

